.github
.git
.env
.env.*
.cloudflared*
*.md
!ACKNOWLEDGMENTS.md
!NOTICE
!THIRD-PARTY-LICENSES.md
.vscode
.gitignore
Makefile
docs
backups
data
logs
output
.eslintcache
.gocache
/web/node_modules
/web/dist
