{
  "openapi": "3.0.1",
  "info": {
    "title": "G-Master API - 公开接口文档",
    "version": "v0.12.15-gmaster.1",
    "description": "适合导入 Apifox 并对外发布的公开接口集合。\n\n包含：模型中转接口、用户侧令牌管理接口、系统状态与个人数据接口。\n生产地址：`https://gmapi.fun`\nOpenAI 兼容基址：`https://gmapi.fun/v1`\n后台接口基址：`https://gmapi.fun/api`\n仓库地址：`https://github.com/HereditaryDog/G-Master-API`"
  },
  "servers": [
    {
      "url": "https://gmapi.fun",
      "description": "G-Master API 生产环境"
    }
  ],
  "tags": [
    {
      "name": "获取模型列表",
      "description": "列出当前令牌可用的模型与能力，适合作为联调第一步。"
    },
    {
      "name": "OpenAI格式(Chat)",
      "description": "OpenAI Chat Completions 兼容接口，支持普通对话、流式输出、工具调用和多模态输入。"
    },
    {
      "name": "OpenAI格式(Responses)",
      "description": "OpenAI Responses API 兼容接口，适合统一推理、工具调用和网络搜索类场景。"
    },
    {
      "name": "Claude格式(Messages)",
      "description": "Anthropic Claude Messages 原生兼容接口。"
    },
    {
      "name": "Gemini格式",
      "description": "Google Gemini 原生兼容接口与模型列表。"
    },
    {
      "name": "图片生成/Qwen千问",
      "description": "千问风格图片接口。"
    },
    {
      "name": "OpenAI音频(Audio)",
      "description": "音频转写、语音合成等音频接口。"
    },
    {
      "name": "视频生成",
      "description": "统一视频生成接口。"
    },
    {
      "name": "视频生成/Sora兼容格式",
      "description": "Sora 风格视频生成接口。"
    },
    {
      "name": "视频生成/Kling格式",
      "description": "Kling 风格视频生成接口。"
    },
    {
      "name": "视频生成/即梦格式",
      "description": "即梦风格视频生成接口。"
    },
    {
      "name": "OpenAI格式(Embeddings)",
      "description": "向量化与 Embeddings 接口。"
    },
    {
      "name": "文本补全(Completions)",
      "description": "传统文本补全接口。"
    },
    {
      "name": "Moderations",
      "description": "内容安全审核接口。"
    },
    {
      "name": "Realtime",
      "description": "实时交互接口。"
    },
    {
      "name": "重排序(Rerank)",
      "description": "重排序与相关性打分接口。"
    },
    {
      "name": "系统",
      "description": "公开系统接口，如状态、模型与公告。"
    },
    {
      "name": "用户登陆注册",
      "description": "注册、登录、登出、支付与账户接入相关接口。"
    },
    {
      "name": "用户管理",
      "description": "用户侧个人信息与账户设置接口。"
    },
    {
      "name": "令牌管理",
      "description": "用户自助创建、修改、删除、查询令牌。"
    },
    {
      "name": "数据统计",
      "description": "用户侧仪表盘与统计数据接口。"
    },
    {
      "name": "日志",
      "description": "用户侧调用日志查询接口。"
    },
    {
      "name": "任务",
      "description": "异步任务与视频任务查询接口。"
    },
    {
      "name": "两步验证",
      "description": "2FA 状态、启用、禁用与备份码接口。"
    },
    {
      "name": "充值",
      "description": "用户充值与支付相关接口。"
    },
    {
      "name": "未实现/Files",
      "description": ""
    },
    {
      "name": "未实现/Fine-tunes",
      "description": ""
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "获取模型列表",
        "deprecated": false,
        "description": "获取当前可用的模型列表。\n\n根据请求头自动识别返回格式：\n- 包含 `x-api-key` 和 `anthropic-version` 头时返回 Anthropic 格式\n- 包含 `x-goog-api-key` 头或 `key` 查询参数时返回 Gemini 格式\n- 其他情况返回 OpenAI 格式\n",
        "operationId": "listModels",
        "tags": [
          "获取模型列表"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (用于 Claude 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "gpt-4o-mini",
                      "object": "model",
                      "owned_by": "g-master-api"
                    },
                    {
                      "id": "claude-3-5-sonnet-latest",
                      "object": "model",
                      "owned_by": "g-master-api"
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Gemini 格式获取",
        "deprecated": false,
        "description": "以 Gemini API 格式返回可用模型列表",
        "operationId": "listModelsGemini",
        "tags": [
          "获取模型列表"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                },
                "example": {
                  "models": [
                    {
                      "name": "models/gemini-2.5-flash",
                      "displayName": "Gemini 2.5 Flash"
                    },
                    {
                      "name": "models/gemini-2.5-pro",
                      "displayName": "Gemini 2.5 Pro"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "创建聊天对话",
        "deprecated": false,
        "description": "根据对话历史创建模型响应。支持流式和非流式响应。\n\n兼容 OpenAI Chat Completions API。\n",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI格式(Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "example": {
                "model": "gpt-4o-mini",
                "messages": [
                  {
                    "role": "system",
                    "content": "你是 G-Master API 的技术助手。"
                  },
                  {
                    "role": "user",
                    "content": "请用 3 句话介绍 G-Master API。"
                  }
                ],
                "temperature": 0.7,
                "stream": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "example": {
                  "id": "chatcmpl_demo_001",
                  "object": "chat.completion",
                  "created": 1775643000,
                  "model": "gpt-4o-mini",
                  "choices": [
                    {
                      "index": 0,
                      "message": {
                        "role": "assistant",
                        "content": "G-Master API 是一个统一的 AI 模型中转网关。它兼容多种上游接口格式。你可以通过统一基址快速完成接入。"
                      },
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 24,
                    "completion_tokens": 33,
                    "total_tokens": 57
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "请求频率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "创建响应 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API，用于创建模型响应。\n支持多轮对话、工具调用、推理等功能。\n",
        "operationId": "createResponse",
        "tags": [
          "OpenAI格式(Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              },
              "example": {
                "model": "gpt-4.1-mini",
                "input": "请总结 OpenAI Responses API 与 Chat Completions 的区别。",
                "reasoning": {
                  "effort": "medium"
                },
                "stream": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                },
                "example": {
                  "id": "resp_demo_001",
                  "object": "response",
                  "status": "completed",
                  "model": "gpt-4.1-mini",
                  "output": [
                    {
                      "type": "message",
                      "role": "assistant",
                      "content": [
                        {
                          "type": "output_text",
                          "text": "Responses API 更适合统一处理推理、工具和多轮状态。"
                        }
                      ]
                    }
                  ],
                  "usage": {
                    "input_tokens": 18,
                    "output_tokens": 20,
                    "total_tokens": 38
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/responses/compact": {
      "post": {
        "summary": "压缩对话 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API，用于对长对话进行 compaction。",
        "operationId": "compactResponse",
        "tags": [
          "OpenAI格式(Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesCompactionRequest"
              },
              "example": {
                "model": "gpt-4.1-mini",
                "input": "写一个简短的产品介绍。",
                "stream": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功压缩对话",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesCompactionResponse"
                },
                "example": {
                  "id": "resp_demo_002",
                  "model": "gpt-4.1-mini",
                  "output_text": "这是一段简短的产品介绍。"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "Claude 聊天",
        "deprecated": false,
        "description": "Anthropic Claude Messages API 格式的请求。\n需要在请求头中包含 `anthropic-version`。\n",
        "operationId": "createMessage",
        "tags": [
          "Claude格式(Messages)"
        ],
        "parameters": [
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": true,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (可选，也可使用 Bearer Token)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaudeRequest"
              },
              "examples": {},
              "example": {
                "model": "claude-3-5-sonnet-latest",
                "max_tokens": 1024,
                "messages": [
                  {
                    "role": "user",
                    "content": "请介绍一下 Claude 接口调用方式。"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaudeResponse"
                },
                "example": {
                  "id": "msg_demo_001",
                  "type": "message",
                  "role": "assistant",
                  "model": "claude-3-5-sonnet-latest",
                  "content": [
                    {
                      "type": "text",
                      "text": "这是 Claude 原生格式响应示例。"
                    }
                  ],
                  "stop_reason": "end_turn",
                  "usage": {
                    "input_tokens": 18,
                    "output_tokens": 22
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/engines/{model}/embeddings": {
      "post": {
        "summary": "Gemini 嵌入(Embeddings)",
        "deprecated": false,
        "description": "使用指定引擎/模型创建嵌入",
        "operationId": "createEngineEmbedding",
        "tags": [
          "Gemini格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "模型/引擎 ID",
            "required": true,
            "example": "",
            "schema": {
              "type": "string",
              "example": "gpt-4o-mini"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "examples": {},
              "example": {
                "input": "G-Master API 是一个统一的 AI 模型中转网关。"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建嵌入",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0123,
                        -0.0456,
                        0.0789
                      ]
                    }
                  ],
                  "model": "text-embedding-3-small",
                  "usage": {
                    "prompt_tokens": 9,
                    "total_tokens": 9
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 图片(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 图片生成",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Gemini格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "模型名称",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string",
              "example": "gpt-4o-mini"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                },
                "example": {
                  "candidates": [
                    {
                      "content": {
                        "parts": [
                          {
                            "text": "这是 Gemini 原生接口返回示例。"
                          }
                        ]
                      },
                      "finishReason": "STOP"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "生成图像(qwen-image)",
        "deprecated": false,
        "description": " 百炼qwen-image系列图片生成",
        "operationId": "createImage",
        "tags": [
          "图片生成/Qwen千问"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "input": {
                    "type": "object",
                    "properties": {
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string"
                            },
                            "content": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "messages"
                    ]
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "negative_prompt": {
                        "type": "string"
                      },
                      "prompt_extend": {
                        "type": "boolean"
                      },
                      "watermark": {
                        "type": "boolean"
                      },
                      "size": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "model",
                  "input"
                ]
              },
              "example": {
                "model": "gpt-image-1",
                "prompt": "一张具有科技感的蓝紫色 AI 控制台首页横幅",
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                },
                "example": {
                  "created": 1775643000,
                  "data": [
                    {
                      "url": "https://example.com/generated-image.png",
                      "revised_prompt": "一张具有科技感的蓝紫色 AI 控制台首页横幅"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "编辑图像(qwen-image-edit)",
        "deprecated": false,
        "description": " 百炼qwen-image系列图片生成",
        "operationId": "createImage",
        "tags": [
          "图片生成/Qwen千问"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "input": {
                    "type": "object",
                    "properties": {
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string"
                            },
                            "content": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "image": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "messages"
                    ]
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "n": {
                        "type": "integer"
                      },
                      "negative_prompt": {
                        "type": "string"
                      },
                      "prompt_extend": {
                        "type": "boolean"
                      },
                      "watermark": {
                        "type": "boolean"
                      },
                      "size": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "model",
                  "input"
                ]
              },
              "example": {
                "model": "gpt-image-1",
                "prompt": "将背景改成蓝紫渐变，并增强科技感",
                "image": "@input.png"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                },
                "example": {
                  "created": 1775643000,
                  "data": [
                    {
                      "url": "https://example.com/edited-image.png",
                      "revised_prompt": "将背景改成蓝紫渐变，并增强科技感"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "summary": "音频转录",
        "deprecated": false,
        "description": "将音频转换为文本",
        "operationId": "createTranscription",
        "tags": [
          "OpenAI音频(Audio)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "音频文件",
                    "example": ""
                  },
                  "model": {
                    "type": "string",
                    "example": "whisper-1"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-1 语言代码",
                    "example": ""
                  },
                  "prompt": {
                    "type": "string",
                    "example": ""
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "json",
                      "text",
                      "srt",
                      "verbose_json",
                      "vtt"
                    ],
                    "default": "json",
                    "example": "json"
                  },
                  "temperature": {
                    "type": "number",
                    "example": 0
                  },
                  "timestamp_granularities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "word",
                        "segment"
                      ]
                    },
                    "example": ""
                  }
                },
                "required": [
                  "file",
                  "model"
                ]
              },
              "example": {
                "file": "@speech.mp3",
                "model": "whisper-1",
                "language": "zh"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功转录",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                },
                "example": {
                  "text": "欢迎使用 G-Master API。"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/audio/speech": {
      "post": {
        "summary": "文本转语音",
        "deprecated": false,
        "description": "将文本转换为音频",
        "operationId": "createSpeech",
        "tags": [
          "OpenAI音频(Audio)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeechRequest"
              },
              "example": {
                "model": "gpt-4o-mini-tts",
                "input": "欢迎使用 G-Master API。",
                "voice": "alloy",
                "response_format": "mp3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功生成音频",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "<binary audio stream>"
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/audio/translations": {
      "post": {
        "summary": "音频翻译",
        "deprecated": false,
        "description": "将音频翻译为英文文本",
        "operationId": "createTranslation",
        "tags": [
          "OpenAI音频(Audio)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "example": ""
                  },
                  "model": {
                    "type": "string",
                    "example": ""
                  },
                  "prompt": {
                    "type": "string",
                    "example": ""
                  },
                  "response_format": {
                    "type": "string",
                    "example": ""
                  },
                  "temperature": {
                    "type": "number",
                    "example": 0
                  }
                },
                "required": [
                  "file",
                  "model"
                ]
              },
              "example": {
                "file": "@speech.mp3",
                "model": "whisper-1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功翻译",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                },
                "example": {
                  "text": "Welcome to G-Master API."
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/video/generations": {
      "post": {
        "summary": "创建视频生成任务",
        "deprecated": false,
        "description": "提交视频生成任务，支持文生视频和图生视频。\n\n返回任务 ID，可通过 GET 接口查询任务状态。\n",
        "operationId": "createVideoGeneration",
        "tags": [
          "视频生成"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "sora",
                "prompt": "宇航员从飞船舱门走出，镜头缓慢推进",
                "duration": 5,
                "n": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                },
                "example": {
                  "id": "video_demo_001",
                  "status": "queued",
                  "model": "sora",
                  "created_at": 1775643000
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/video/generations/{task_id}": {
      "get": {
        "summary": "获取视频生成任务状态",
        "deprecated": false,
        "description": "查询视频生成任务的状态和结果。\n\n任务状态：\n- `queued`: 排队中\n- `in_progress`: 生成中\n- `completed`: 已完成\n- `failed`: 失败\n",
        "operationId": "getVideoGeneration",
        "tags": [
          "视频生成"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "abcd1234efgh",
            "schema": {
              "type": "string",
              "example": "task_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "id": "video_demo_001",
                  "status": "succeeded",
                  "model": "sora",
                  "output": [
                    "https://example.com/output.mp4"
                  ]
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "创建视频 ",
        "deprecated": false,
        "description": "OpenAI 兼容的视频生成接口。\n\n参考文档: https://platform.openai.com/docs/api-reference/videos/create\n",
        "operationId": "createVideo",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "description": "模型名称",
                    "example": "sora-2",
                    "type": "string"
                  },
                  "prompt": {
                    "description": "提示词",
                    "example": "cute cat dance",
                    "type": "string"
                  },
                  "seconds": {
                    "description": "生成秒数",
                    "example": "8",
                    "type": "string"
                  },
                  "input_reference": {
                    "format": "binary",
                    "type": "string",
                    "description": "参考图片文件",
                    "example": ""
                  }
                }
              },
              "examples": {},
              "example": {
                "model": "sora",
                "prompt": "宇航员从飞船舱门走出，镜头缓慢推进",
                "duration": 5,
                "n": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频任务",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "视频 ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "对象类型"
                    },
                    "model": {
                      "type": "string",
                      "description": "使用的模型"
                    },
                    "status": {
                      "type": "string",
                      "description": "任务状态"
                    },
                    "progress": {
                      "type": "integer",
                      "description": "进度百分比"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "创建时间戳"
                    },
                    "seconds": {
                      "type": "string",
                      "description": "视频时长"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完成时间戳"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "过期时间戳"
                    },
                    "size": {
                      "type": "string",
                      "description": "视频尺寸"
                    },
                    "error": {
                      "$ref": "#/components/schemas/OpenAIVideoError"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "额外元数据",
                      "additionalProperties": true,
                      "properties": {}
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "video_demo_001",
                  "status": "queued",
                  "model": "sora",
                  "created_at": 1775643000
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "获取视频任务状态 ",
        "deprecated": false,
        "description": "OpenAI 兼容的视频任务状态查询接口。\n\n返回视频任务的详细状态信息。\n",
        "operationId": "getVideo",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "视频任务 ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string",
              "example": "task_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "video_demo_001",
                  "status": "succeeded",
                  "model": "sora",
                  "output": [
                    "https://example.com/output.mp4"
                  ]
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "获取视频内容",
        "deprecated": false,
        "description": "获取已完成视频任务的视频文件内容。\n\n此接口会代理返回视频文件流。\n",
        "operationId": "getVideoContent",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "视频任务 ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string",
              "example": "task_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频内容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "<binary video stream>"
              }
            },
            "headers": {}
          },
          "404": {
            "description": "视频不存在或未完成",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling 图生视频",
        "deprecated": false,
        "description": "使用 Kling 模型从图片生成视频。\n\n支持通过 image 参数传入图片 URL 或 Base64 编码的图片数据。\n",
        "operationId": "createKlingImage2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "image": "https://example.com/input.png",
                "prompt": "让图片中的角色向前走一步",
                "duration": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                },
                "example": {
                  "id": "kling_demo_002",
                  "status": "queued",
                  "model": "kling-v1"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "获取 Kling 图生视频任务状态",
        "deprecated": false,
        "description": "查询 Kling 图生视频任务的状态和结果。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string",
              "example": "task_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "id": "kling_demo_002",
                  "status": "succeeded",
                  "output": [
                    "https://example.com/kling-image2video.mp4"
                  ]
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling 文生视频",
        "deprecated": false,
        "description": "使用 Kling 模型从文本描述生成视频。\n\n支持的模型：kling-v1, kling-v1-5 等\n",
        "operationId": "createKlingText2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "一只机械鸟在赛博朋克城市上空飞行",
                "duration": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                },
                "example": {
                  "id": "kling_demo_001",
                  "status": "queued",
                  "model": "kling-v1"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "获取 Kling 文生视频任务状态",
        "deprecated": false,
        "description": "查询 Kling 文生视频任务的状态和结果。",
        "operationId": "getKlingText2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string",
              "example": "task_123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                },
                "example": {
                  "id": "kling_demo_001",
                  "status": "succeeded",
                  "output": [
                    "https://example.com/kling-output.mp4"
                  ]
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/jimeng/": {
      "post": {
        "summary": "即梦视频生成",
        "deprecated": false,
        "description": "即梦官方 API 格式的视频生成接口。\n\n支持通过 Action 参数指定操作类型：\n- `CVSync2AsyncSubmitTask`: 提交视频生成任务\n- `CVSync2AsyncGetResult`: 获取任务结果\n\n需要在查询参数中指定 Action 和 Version。\n",
        "operationId": "createJimengVideo",
        "tags": [
          "视频生成/即梦格式"
        ],
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "API 操作类型",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CVSync2AsyncSubmitTask",
                "CVSync2AsyncGetResult"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "API 版本",
            "required": true,
            "example": "2022-08-31",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "即梦官方 API 请求格式",
                "properties": {
                  "req_key": {
                    "type": "string",
                    "description": "请求类型标识"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "文本描述"
                  },
                  "binary_data_base64": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Base64 编码的图片数据"
                  }
                }
              },
              "example": {
                "req_key": "jimeng_video_generation",
                "prompt": "一只猫在弹钢琴"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功处理请求",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应码"
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息"
                    },
                    "data": {
                      "type": "object",
                      "description": "响应数据",
                      "properties": {}
                    }
                  }
                },
                "example": {
                  "task_id": "jimeng_demo_001",
                  "status": "queued",
                  "message": "任务已提交"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/embeddings": {
      "post": {
        "summary": "创建文本嵌入",
        "deprecated": false,
        "description": "将文本转换为向量嵌入",
        "operationId": "createEmbedding",
        "tags": [
          "OpenAI格式(Embeddings)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              },
              "example": {
                "model": "text-embedding-3-small",
                "input": "G-Master API 是一个统一的 AI 模型中转网关。"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建嵌入",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "index": 0,
                      "embedding": [
                        0.0123,
                        -0.0456,
                        0.0789
                      ]
                    }
                  ],
                  "model": "text-embedding-3-small",
                  "usage": {
                    "prompt_tokens": 9,
                    "total_tokens": 9
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/completions": {
      "post": {
        "summary": "创建文本补全",
        "deprecated": false,
        "description": "基于给定提示创建文本补全",
        "operationId": "createCompletion",
        "tags": [
          "文本补全(Completions)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              },
              "example": {
                "model": "gpt-3.5-turbo-instruct",
                "prompt": "请写一句欢迎语。",
                "max_tokens": 64,
                "temperature": 0.7
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                },
                "example": {
                  "id": "cmpl_demo_001",
                  "object": "text_completion",
                  "model": "gpt-3.5-turbo-instruct",
                  "choices": [
                    {
                      "text": "欢迎使用 G-Master API。",
                      "index": 0,
                      "finish_reason": "stop"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/moderations": {
      "post": {
        "summary": "内容审核",
        "deprecated": false,
        "description": "检查文本内容是否违反使用政策",
        "operationId": "createModeration",
        "tags": [
          "Moderations"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModerationRequest"
              },
              "example": {
                "model": "text-moderation-latest",
                "input": "请帮我判断这段文本是否包含违规内容。"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功审核",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResponse"
                },
                "example": {
                  "id": "modr_demo_001",
                  "model": "text-moderation-latest",
                  "results": [
                    {
                      "flagged": false,
                      "categories": {},
                      "category_scores": {}
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/realtime": {
      "get": {
        "summary": "实时 WebSocket 连接",
        "deprecated": false,
        "description": "建立 WebSocket 连接用于实时对话。\n\n**注意**: 这是一个 WebSocket 端点，需要使用 WebSocket 协议连接。\n\n连接 URL 示例: `wss://api.example.com/v1/realtime?model=gpt-4o-realtime`\n",
        "operationId": "createRealtimeSession",
        "tags": [
          "Realtime"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "description": "要使用的模型",
            "required": false,
            "schema": {
              "type": "string",
              "example": "gpt-4o-mini"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "WebSocket 协议切换",
            "headers": {}
          },
          "400": {
            "description": "请求错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "demo_id",
                  "object": "response"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/rerank": {
      "post": {
        "summary": "文档重排序",
        "deprecated": false,
        "description": "根据查询对文档列表进行相关性重排序",
        "operationId": "createRerank",
        "tags": [
          "重排序(Rerank)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerankRequest"
              },
              "example": {
                "model": "rerank-english-v2.0",
                "query": "G-Master API 如何创建令牌？",
                "documents": [
                  "在控制台的令牌管理页面可以创建新令牌。",
                  "模型调用地址是 https://gmapi.fun/v1。",
                  "嵌入接口兼容 OpenAI 格式。"
                ],
                "top_n": 2
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功重排序",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerankResponse"
                },
                "example": {
                  "id": "rerank_demo_001",
                  "results": [
                    {
                      "index": 0,
                      "relevance_score": 0.993
                    },
                    {
                      "index": 2,
                      "relevance_score": 0.881
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/status": {
      "get": {
        "summary": "获取系统状态",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "system_name": "G-Master API",
                    "server_address": "https://gmapi.fun",
                    "version": "v0.12.1-gmaster.3",
                    "top_up_link": "https://gmtoken.shop"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/models": {
      "get": {
        "summary": "获取模型列表",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "id": 1,
                      "model_name": "gpt-4o-mini",
                      "enabled": true
                    },
                    {
                      "id": 2,
                      "model_name": "claude-3-5-sonnet-latest",
                      "enabled": true
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/about": {
      "get": {
        "summary": "获取关于信息",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "content": "G-Master API 是一个统一的模型接入平台。"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/home_page_content": {
      "get": {
        "summary": "获取首页内容",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "hero_title": "G-Master API",
                    "hero_subtitle": "统一模型接入与稳定调用"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/notice": {
      "get": {
        "summary": "获取公告",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "id": 1,
                      "content": "公告板测试_Test_01",
                      "type": "default"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/pricing": {
      "get": {
        "summary": "获取定价信息",
        "deprecated": false,
        "description": "🔓 无需鉴权（可选登录）",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "model_name": "gpt-4o-mini",
                      "completion_ratio": 1.0,
                      "prompt_ratio": 1.0
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/status/test": {
      "get": {
        "summary": "测试系统状态",
        "deprecated": false,
        "description": "👨‍💼 需要管理员权限（Admin）",
        "tags": [
          "系统"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "ok",
                  "data": "pong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/login": {
      "post": {
        "summary": "用户登录",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "用户登陆注册"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "username": "demo_user",
                "password": "StrongPass123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "access_token": "gm_access_token_demo",
                    "user": {
                      "id": 1,
                      "username": "demo_user"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/groups": {
      "get": {
        "summary": "获取用户分组列表",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "用户登陆注册"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    "default",
                    "vip"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/login/2fa": {
      "post": {
        "summary": "两步验证登录",
        "deprecated": false,
        "description": "🔓 无需鉴权（登录流程）",
        "tags": [
          "用户登陆注册"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "username": "demo_user",
                "password": "StrongPass123!",
                "code": "123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "access_token": "gm_access_token_demo",
                    "user": {
                      "id": 1,
                      "username": "demo_user"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/logout": {
      "get": {
        "summary": "用户登出",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "用户登陆注册"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/register": {
      "post": {
        "summary": "用户注册",
        "deprecated": false,
        "description": "🔓 无需鉴权",
        "tags": [
          "用户登陆注册"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "verification_code": {
                    "type": "string"
                  },
                  "aff_code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "username": "demo_user",
                "password": "StrongPass123!",
                "password2": "StrongPass123!",
                "email": "demo@example.com",
                "verification_code": "123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "id": 1,
                    "username": "demo_user"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/self": {
      "get": {
        "summary": "获取当前用户信息",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "id": 1,
                    "username": "demo_user",
                    "display_name": "G-Master 用户",
                    "email": "demo@example.com",
                    "quota": 500000,
                    "used_quota": 12800,
                    "request_count": 42
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      },
      "put": {
        "summary": "更新当前用户信息",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "original_password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "display_name": "G-Master 用户",
                "password": "NewStrongPass123!",
                "original_password": "StrongPass123!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "更新成功",
                  "data": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      },
      "delete": {
        "summary": "注销当前用户",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "操作成功",
                  "data": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/models": {
      "get": {
        "summary": "获取用户可用模型",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    "gpt-4o-mini",
                    "claude-3-5-sonnet-latest"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/self/groups": {
      "get": {
        "summary": "获取当前用户分组",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    "default"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/setting": {
      "put": {
        "summary": "更新用户设置",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notify_type": {
                    "type": "string"
                  },
                  "quota_warning_threshold": {
                    "type": "number"
                  },
                  "webhook_url": {
                    "type": "string"
                  },
                  "notification_email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "demo@example.com",
                "display_in_currency": true,
                "quota_display_type": "USD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "设置已更新",
                  "data": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/token": {
      "get": {
        "summary": "生成访问令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": "gm_access_token_demo"
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/user/topup": {
      "get": {
        "summary": "获取所有充值记录",
        "deprecated": false,
        "description": "👨‍💼 需要管理员权限（Admin）",
        "tags": [
          "用户管理"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/token/": {
      "get": {
        "summary": "获取所有令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [
          {
            "name": "p",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "id": 1,
                      "name": "默认业务令牌",
                      "key": "sk-demo-token",
                      "status": 1,
                      "remain_quota": 500000,
                      "unlimited_quota": false
                    }
                  ],
                  "page": 0,
                  "page_size": 10,
                  "total": 1
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      },
      "post": {
        "summary": "创建令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              },
              "example": {
                "name": "默认业务令牌",
                "remain_quota": 500000,
                "expired_time": -1,
                "unlimited_quota": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "创建成功",
                  "data": {
                    "id": 2,
                    "key": "sk-new-token"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      },
      "put": {
        "summary": "更新令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              },
              "example": {
                "id": 1,
                "name": "默认业务令牌",
                "remain_quota": 800000,
                "expired_time": -1,
                "unlimited_quota": false,
                "status": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "更新成功",
                  "data": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/token/batch": {
      "post": {
        "summary": "批量删除令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "name_prefix": "批量令牌",
                "count": 10,
                "remain_quota": 100000,
                "expired_time": -1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "批量创建成功",
                  "data": {
                    "count": 10
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/token/search": {
      "get": {
        "summary": "搜索令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "id": 1,
                      "name": "默认业务令牌",
                      "status": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/token/{id}": {
      "get": {
        "summary": "获取指定令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": 0,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      },
      "delete": {
        "summary": "删除令牌",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "令牌管理"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": 0,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "删除成功",
                  "data": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/data/self": {
      "get": {
        "summary": "获取个人额度数据",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "数据统计"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "quota": 500000,
                    "used_quota": 12800,
                    "request_count": 42,
                    "today_used_quota": 3200
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/log/self": {
      "get": {
        "summary": "获取个人日志",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "日志"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "id": 1,
                      "model_name": "gpt-4o-mini",
                      "token_name": "默认业务令牌",
                      "quota": 120
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/log/self/search": {
      "get": {
        "summary": "搜索个人日志",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "日志"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "id": 1,
                      "model_name": "gpt-4o-mini",
                      "token_name": "默认业务令牌",
                      "quota": 120
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/log/self/stat": {
      "get": {
        "summary": "获取个人日志统计",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "日志"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": {
                    "quota": 12800,
                    "rpm": 0.12,
                    "tpm": 9321,
                    "request_count": 42
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/mj/self": {
      "get": {
        "summary": "获取个人Midjourney任务",
        "deprecated": false,
        "description": "🔐 需要登录（User权限）",
        "tags": [
          "任务"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "message": "",
                  "data": []
                }
              }
            }
          }
        },
        "security": [
          {
            "Combination343": []
          },
          {
            "Combination1243": []
          }
        ]
      }
    },
    "/api/task/self": {
      "get": {
        "summary": "获取个人任务",
[...]
